body{
    background: url(images/contact.jpg) top; /* Background image centered */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire background */
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font for text */
    font-size: extra-large; /* Default font size */
    text-align: center; /* Class that centers text */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
}

a {
    color: #ffffff;     /* make links white */
}

a:hover {
    color: #f5160b; /* highlight color on hover */
}